<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MostCommonColors</title>
    <style>
         .social-media{
         background:#00FFFF
         }
           body{
    background-color:#E0FFFF
    }

    </style>
</head>
<body>
<div class="social-media">
    <h2 align="center">Image Color Extract</h2>
    <h3 align="center">10 Most Common Colors in The Picture</h3>
    <p align="center">Created by:<a href="https://github.com/Mar4eIvanova?tab=repositories"> Mariya Ivanova</a></p>
</div>

<img src="{{photo}}">